<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="base :: base(content='content')">
<head>
    <title>Login</title>
</head>
<body>
<div class="content">
    <h1>Login</h1>
    <form action="#" th:action="@{/authenticate}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a href="/register" th:href="@{/register}">Register</a></p>
</div>
</body>
</html>
